<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        totam, sed, ex nisi placeat pariatur, modi possimus quae commodi magnam
        nam maxime cumque consequuntur ducimus consequatur error consectetur
        repudiandae. Nisi?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--streched">Get Started</a>
  </div>
</div>
