<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="image/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio omnis
    nisi quaerat, dolorem voluptatum placeat vel, non, praesentium veritatis
    suscipit repellendus nihil ea dolores ratione possimus aliquam voluptate a
    quasi!
  </div>
</div>
<script src="js/main.js"></script>
