<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer-list__item">
            <a href="#">WordPress Hosting</a>
          </li>
          <li class="footer-list__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="footer-list__item"><a href="#">Migrations</a></li>
          <li class="footer-list__item"><a href="#">Domain Names</a></li>
          <li class="footer-list__item">
            <a href="#">Monthly Web Hosting</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer-list__item">
            <a href="#">WordPress Hosting</a>
          </li>
          <li class="footer-list__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="footer-list__item"><a href="#">Migrations</a></li>
          <li class="footer-list__item"><a href="#">Domain Names</a></li>
          <li class="footer-list__item">
            <a href="#">Monthly Web Hosting</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer-list__item">
            <a href="#">WordPress Hosting</a>
          </li>
          <li class="footer-list__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="footer-list__item"><a href="#">Migrations</a></li>
          <li class="footer-list__item"><a href="#">Domain Names</a></li>
          <li class="footer-list__item">
            <a href="#">Monthly Web Hosting</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="image/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer-list__item">
            <a href="#">WordPress Hosting</a>
          </li>
          <li class="footer-list__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="footer-list__item"><a href="#">Migrations</a></li>
          <li class="footer-list__item"><a href="#">Domain Names</a></li>
          <li class="footer-list__item">
            <a href="#">Monthly Web Hosting</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="footer__brand">
      <img src="image/logo.svg" alt="" />
      <p class="footer_copyright">Copyright 2020 Mosh</p>
    </section>
  </div>
</footer>
