<section class="block block--dark block--skewed-left hero">
  <div class="grid grid--1x2">
    <header class="block__header container hero__content">
      <h2 class="block__heading">Cloud Hosting for Pros</h2>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds.</p>
      <a href="#" class="btn btn--accent btn--streched">Get Started</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="image/banner.webp 1x, image/banner@2x.webp 2x" />
      <source
        type="image/png"
        srcset="image/banner.png 1x, image/banner@2x.png 2x" />
      <img class="hero__image" src="image/banner.png" alt=""
    /></picture>
  </div>
</section>
