<section class="block">
  <header class="block__header">
    <h2>What our Custumer are saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
      explicabo.
    </p>
  </header>
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="image/testimonial.jpg" alt="a happy and smiling custumer" />
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="image/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eum
          laboriosam labore dolor quam inventore ad distinctio rerum tempora
          quaerat error accusantium, assumenda, rem est unde. Quia deserunt vero
          quo.
        </p>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="image/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__organization">ABC Company</p>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</section>
